*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container h1{
    margin: 2rem auto 3rem auto;
    font-weight: 600;
}

.row .card{
    border: none;
    text-align: center;
    margin: 3 auto;
    border-radius: 40px;
}

.row>* {
    --bs-gutter-x: 0;
    margin: 2rem auto;
}

.row .btn{
    font-size: 20px;
    border-radius: 17px;
}

.card-body .btn{
    border-radius: 15px;
}

.btn-warning{
    width: 76.13px;
}

.container .form-label{
    font-size: 20px;
    color: #14214e;
}

.container .form-control{
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 15px;
}